.pulse {
    display: block;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(171, 107, 133, 0.4);
    animation: pulse 1s infinite;
    opacity: .8;
  }
  .pulse:hover {
    opacity: 1;
  }
  
  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(171, 107, 133, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(171, 107, 133, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(171, 107, 133, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(171, 107, 133, 0.4);
      box-shadow: 0 0 0 0 rgba(171, 107, 133, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(171, 107, 133, 0);
        box-shadow: 0 0 0 10px rgba(171, 107, 133, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(171, 107, 133, 0);
        box-shadow: 0 0 0 0 rgba(171, 107, 133, 0);
    }
  }